
body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  margin-bottom: 10px;
  background-color: #283747;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.logo, .nav, .social{
  background-color: #cb4335;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.logo{
    flex: 1;
}

.nav{
    flex: 2;
}

.social{
    flex: 1;
}
.banner {
  background-color: #dc7633;
  padding: 30px;
  margin-bottom: 5px;
}

.banner-box {
  background-color: #cb4335;
  padding: 5px;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  }

.main-content {
  background-color: #283747;
  padding: 40px;
}

.articles {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.article1,
.article2,
.article3,
.article4,
.navegation {
  background-color: #85c1e9;
  padding: 10px;
}

.navegation {
  grid-column: span 2;
  background-color: #2e86c1;
}

.advertising {
  background-color: #cb4335;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding:20px;
  }

  .ad {
  background-color: #f5d628;
  padding: 10px;
}

.ad p{
    margin: 0;
}

footer {
  margin-top: 10px;
  background-color: #f9e79f;
  padding: 20px;
}

/* Exercici 2: Seguint amb el projecte anterior, fes la versió per tauleta */

@media screen and (max-width: 700px) {
  .container {
    max-width: 100%;
    margin: auto;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

 main {
    display: flex;
    flex-direction: column;
  }
}


